#Notebook and Google Colab introduction

<p><img alt="Colaboratory logo" height="50px" src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" align="left" hspace="5px" vspace="0px"></p>

<h1>Python programming notebook</h1>

This <b>Notebook</b> introduces you to the wonderful  <b>Python</b> programming language! 

But firstly, what is a <b>python notebook</b>?

<p><img alt="Colaboratory logo" height="50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png" align="left" hspace="5px" vspace="0px"></p>

<h1>Jupyter Notebook</h1>

[Jupyter Notebook](https://jupyter.org/) is a free web application that allows you to create and share documents that contain code, equations, data views and formatted text.

Notebooks are very powerful both for teaching but also for software prototyping. In fact, the Notebooks of ** isolate the execution of some pieces of code ** and are therefore great for testing new code without having to re-run all the code already written!

Furthermore, notebooks allow you to easily integrate different Big Data tools such as **[Apache Spark](https://spark.apache.org/) and libraries such as [pandas](https://pandas.pydata.org/), [scikit-learn](https://scikit-learn.org/stable/), [TensorFlow](https://www.tensorflow.org/), [PyTorch](https://pytorch.org/)**.

However, the most useful advantage that Notebooks provide is that they can be run on a web page through **the use of Google Colaboratory**, the platform you are on right now!

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>What is google Colaboratory?</h1>

Google Colaboratory or, for short, "Colab" allows you to write and execute Python code in your browser with the following advantages:
- No configuration needed
- Free access to GPUs
- Simplified sharing

If you are a <strong>student</strong>, <strong>data scientist</strong> or <strong>AI researcher</strong>, Colab could easy your work. Please watch <a href="https://www.youtube.com/watch?v=inN8seMm7UI">this introductory video about Colab </a> for more information.

# Our first line code in python: print("Hello world")

In [ ]:
# This is a comment. You can use it to remind you what you did a line of code for or what you want to get out of it.
# You can even comment on multiple lines this way!
# Let's write our first line of code!

print("Hello World") # print the string "Hello World Lorenzo" on the screen

Hello World

# Variables, values and types

## Values and types

In [ ]:
# The type method allows you to identify the type of a certain value
print(type ("Hello World")) # string type value

print(type (2)) # numeric type value: integer

print(type (3.4)) # numeric type value: float

print(type(2 + 2)) # adding two integers always generates an integer

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
# Implicit casting

print(2 + 3.4) # 5.5

print(type(2 + 3.4)) # adding an integer and a float always results in a float

# Explicit casting

print(int(2 + 3.4)) # the sum between an integer and a float always generates a float unless we ask to take only the integer part

print(type(int (2 + 3.4)))

5.4
<class 'float'>
5
<class 'int'>

## Variables

In [ ]:
name = "Lorenzo" # I assign the value Lorenzo to the variable name
pi = 3.14
eulero = 2.71

print(name, type(name)) # string
print(pi, type(pi)) # float
print(eulero, type(eulero)) # float

Lorenzo <class 'str'>
3.14 <class 'float'>
2.71 <class 'float'>

In [ ]:
# Dynamic typing

name = 2 # assign again the variable name with value 2

print(name, type(name)) # tipo intero

2 <class 'int'>

In [ ]:
# Snake_case notation is used to assign multi-word variable names. You can use others as well but this is the official Python one.

variable_name_with_many_words = "boomer"

print(variable_name_with_many_words, type(variable_name_with_many_words))

boomer <class 'str'>

In [ ]:
# Sum between pi and euler

pi_somma_eulero = pi + eulero

print(pi_somma_eulero,type(pi_somma_eulero))

5.85 <class 'float'>

In [ ]:
# You can clear a variable from memory with the del command

del pi_somma_eulero

print(pi_somma_eulero) # Error

NameError: ignored

## Expression evaluation and composition

In [ ]:
hundred = 100
five = 5
six = 6

In [ ]:
# Moltiplicazioni e divisioni
print(hundred*five/six) # 83.33

83.33333333333333
83.33333333333334

In [ ]:
print(hundred/six*five) # cosa succede al risultato?

In [ ]:
# Grazie alla priorità anche questo risultato non cambia
print(hundred+six*five)
print(hundred+five*six)

# Se usiamo le parentesi si
print((hundred+five)*six)

130
130
630

## Operatore modulo

L'operatore `%` è un operatore molto utile poichè ci consente di avere il resto della divisione intera tra due operandi!

In [ ]:
print(5%3) # the integer remainder between 5 and 3 is equal to 2

print(4%3) # the integer remainder between 4 and 3 is equal to 1

print(3%3) # the integer remainder between 3 and 3 is equal to 0

print(1%3) # the integer remainder between 1 and 3 is equal to 3

2
1
0
1

## Many of the instructions we have seen are actually compisitions

```
print(hundred/six*five) # is a composition
```


Order of operations:
1. hundred/six
2. result of (1.) is multiplied by 5
3. print the result of (2.)

# Boolean operators

The fundamental operators are:


*   ``` and ```
*  ``` or ```
*  ``` not ```

In [ ]:
today_rains = True

I_wear_blue_shirt = False

Im_doing_a_course = True


today_rains_and_I_wear_blue_shirt = today_rains and I_wear_blue_shirt

today_rains_OR_im_doing_a_course = today_rains or Im_doing_a_course

I_dont_wear_a_blue_shirt = not (I_wear_blue_shirt)


print("Is it true that today it rains and I have a blue shirt?",today_rains_and_I_wear_blue_shirt)

print("Is it true that it's raining today or am I taking a course?",today_rains_OR_im_doing_a_course)

print("Is it true that I don't have a blue shirt?", I_dont_wear_a_blue_shirt)

Is it true that today it rains and I have a blue shirt? False
Is it true that it's raining today or am I taking a course? True
Is it true that I don't have a blue shirt? True

## Mathematical boolean operator

We could use the following operators to compare numbers:
*   ``` > ```
*   ``` >= ```
*  ``` == ```
*   ``` <= ```
*   ``` < ```

In [ ]:
print(5<2)
print(5>2)

False
True

## False in python

In [ ]:
# To convert any variable to boolean type just use the cast bool ()


None_bool = bool(None) # None is False
print(None_bool) 

print(False) # False is boolean

empty_string_bool = bool('')
print(empty_string_bool) # empty string is False 

# And all empty representations of sequences and dictionaries are also False
tupla_vuota = bool(()) # inner brackets indicate the empty tuple
lista_vuota = bool([])  # square brackets indicate the empty list
dizionario_vuoto = bool({}) # curly brackets indicate empty dictionary

print(tupla_vuota, lista_vuota, dizionario_vuoto)

False
False
False
False False False

# String expressions

In [ ]:
print("banana" + "fruit")

print("banana" * 3)

bananafrutta
bananabananabanana

# Get input values from keyboard

In [ ]:
# We can use the input () function to supply our software with keyboard values

name = input('Insert your name: ') # assign the input to name variable

print("Hello World ", name) # We print on the screen the string "Hello World" followed by the name provided by the input!

Insert your name: bo
Hello World  bo

# First exercise group

## First exercise

Delivery: Take your name and age as keyboard input and print them!

In [ ]:
name = input('Insert your name: ') # we assign the input to the variable name

########## Your code starts here ##########
age = None


########## Your code ends here ##########

Insert your name: bo

## Second exercise
Given two numbers in input, check if the first is greater than the second

In [ ]:
def first_number_more_equal_number2(number1,number2):
  ########## Your code starts here ##########
  return None
  ########## Your code ends here ##########

In [ ]:
number1 = int(input('Insert first integer: ')) # cast to integer
number2 = int(input('Insert second integer: ')) # cast to integer

number_1_maggiore_number_2 = first_number_more_equal_number2(number1,number2)

if number_1_maggiore_number_2 == None: 
  raise NotImplementedError("You don't have coded the function first_number_more_equal_number2")

print(number1, " >= ", number2, "?  ", number_1_maggiore_number_2)

Insert first integer: 4
Insert second integer: 2
4  >=  2 ?   True

# Functions

In [ ]:
# Our first function: the sum!

def sum(num1,num2):
    return num1 + num2
  
print(sum(5,7))

print(sum(10,128))

print(sum(10,3*5))

12
138
25

In [ ]:
num1 = int(input('Insert first addendum: ')) # castiamo a intero per evitare di inserire valori illegali
num2 = int(input('Insert second addendum: ')) # castiamo a intero per evitare di inserire valori illegali

print("La somma tra %s e %s fa: %s" % (num1, num2,sum(num1,num2)))

Inserisci il primo addendo: 5
Inserisci il secondo addendo: 2
La somma tra 5 e 2 fa: 7

In [ ]:
def substraction(num1,num2):
    ########## Your code starts here ##########
    return None
    ########## Your code ends here ##########

## Function composition

We can compose the execution of multiple functions!


```
subtraction(sum(3,4),7)
```


would be equivalent to doing the following:

```
(3+4) - 7 = 0
```

The operations are carried out following what is defined [**valutazione Eager**](https://it.wikipedia.org/wiki/Valutazione_eager#:~:text=Nella%20programmazione%2C%20la%20valutazione%20eager,espressione%20che%20da%20essa%20dipende.):


1. The arguments of the **subtraction** function are evaluated first, that is **sum (3,4)** and **7**;
2. To evaluate sum (3,4) we have to execute the function defined by it, which returns the value 7;
3. At this point, we take the value 7 and subtract it from 7, obtaining 0.

In [ ]:
composizione_somma_sottrazione = substraction(sum(3,4),7)
print(composizione_somma_sottrazione)

0

# Variable scope

## Global vs local variable

In [ ]:
# We are at level 1 of the visibility hierarchy
# globally scoped variable

global_variable = "global"

def examin_variable_scope():
  # We are at level 2 of the visibility hierarchy
  local_variable_1 = "local_1" # local scope
  local_variable_2 = "local_2" # local scope
  print("Local scope variables%s" % [local_variable_1,local_variable_2])
  print("Global scoper variables%s" % [global_variable])

In [ ]:
print(global_variable) #variabile globale

globalw

In [ ]:
examin_variable_scope()

Local scope variables['locale_1', 'locale_2']
Global scoper variables['globalw']

In [ ]:
# La variabile_locale_1 aveva visibilità solo nel livello 2, ora siamo tornatia  livello 1 e non esiste!
print(local_variable_1)

NameError: ignored

## Shadowing di una variabile globale

In [ ]:
# We are at level 1 of the visibility hierarchy
# globally scoped variable

global_variable = "global"

def examin_variable_scope():
  # We are at level 2 of the visibility hierarchy
  local_variable_1 = "local_1" # local scope
  local_variable_2 = "local_2" # local scope
  global_variable = "global_modified"
  print("Local scope variables%s" % [local_variable_1,local_variable_2])
  print("Global scoper variables%s" % [global_variable])

In [ ]:
print(global_variable)

global

In [ ]:
examin_variable_scope()

Local scope variables['local_1', 'local_2']
Global scoper variables['global_modified']

In [ ]:
print(global_variable)

global

# Data structures

In this section we will learn how to build and manipulate the four fundamental data structures in Python:


*  `[List]`
*  `(Tuple)`
*  `{Set}`
*  `{'dictio': 'nary'}`

## List

In [ ]:
empty_list = []
print(empty_list)

integer_list = [10,20,30]
print(integer_list)

another_empty_list = list() # this is a callable class as print() or type()
print(another_empty_list)

[]
[10, 20, 30]
[]

In [ ]:
# The len () construct generally indicates the length of a data structure, in this case the list

print(len(empty_list)) 

print(len(integer_list))

0
3

### List indexing

In [ ]:
integer_list = [10,20,30]

# I access the first and second elements, remember that we start from scratch!
print("Element with index 0 is:", integer_list[0])
print("Element with index 1 is:", integer_list[1])

Element with index 0 is: 10
Element with index 1 is: 20

In [ ]:
# access the last element of the list and the penultimate, using negative notation and then counting backwards!
print("Last element of the list is :", integer_list[-1])
print("Penultimate element of the list is :", integer_list[-2])

L'elemento con indice -1 è: 30
L'elemento con indice -2 è: 20

### Indexing a sublist

In [ ]:
integer_list = [10,20,30]

# let's take the first two elements of the list
print (integer_list [: 2]) # the index after i: is exclusive -> in this case we are taking the list from the beginning up to the index n-1 (in this case 2-1)

[10, 20]

In [ ]:
print(integer_list[1:2])# the index before the: is inclusive, we are taking the list from 1 to n-1 (2-1), i.e. the list containing the element at index 1

[20]

In [ ]:
print(integer_list[1:])# as before, the index before the: is inclusive, we take the sub-list from index 1 to the end

[20, 30]

### List is a mutable data structure

In [ ]:
mixed_list = [1,2,3]

print("Before modification", mixed_list)

mixed_list[0] = 5 # assign 5 to index 0
print("After first modification", mixed_list)


mixed_list[-1] = 'ciao' # assign to last index the value 'ciao'
print("After second modification", mixed_list)

Before modification [1, 2, 3]
After first modification [5, 2, 3]
After second modification [5, 2, 'ciao']

In [ ]:
# Possiamo cancellare un elemento della lista con l'istruzione del seguita dalla lista indicizzata

del mixed_list[0] # elimino il primo elemento della lista
print("Lista con primo elemento cancellato: ", mixed_list)

Lista con primo elemento cancellato:  [2, 'ciao']

In [ ]:
# we add an element at the end with append
mixed_list.append("ultimo_elemento")

Lista vecchia:  [5, 2, 'ciao']
Lista copiata e manipolata:  [5, 2, 'ciao', 'ultimo_elemento']

### Bidimensional list

In [ ]:
bidimensional_integer_list = [[10,20],[30,40],[50,60]] # creiamo la nostra prima lista bidimensionale

In [ ]:
# first row
print(bidimensional_integer_list[0])

# first row, first column
print(bidimensional_integer_list[0][0])

[10, 20]
10

## Tuples

In [ ]:
empty_tuple = ()

print(empty_tuple, type(empty_tuple))

integer_tuple = (5,6,7) 
print(integer_tuple)

another_empty_tuple = tuple()
print(another_empty_tuple)

() <class 'tuple'>
(5, 6, 7)
()

### Tuple indexing

In [ ]:
# tuple indexing
integer_tuple = (5,6,7) 

print(integer_tuple[0]) # first element

5
(6, 7)

### Tuples are immutable

In [ ]:
integer_tuple = (5,6,7)

In [ ]:
integer_tuple[0]=1 # values of a tuple can't be modified!

TypeError: ignored

In [ ]:
del integer_tuple[0] # values of a tuple can't be modified!

TypeError: ignored

In [ ]:
del integer_tuple # you can however delete it all

## Dictionaries

In [ ]:
empty_dictionary = {}

print(empty_dictionary, type(empty_dictionary))

dictionary_string_integers = {"one":1, "two":2}
print(dictionary_string_integers)

another_empty_dictionary = dict()
print(another_empty_dictionary)

{} <class 'dict'>
{'uno': 1, 'due': 2}
{}

### Dictionary indexing

In [ ]:
dictionary_string_integers = {"one":1, "two":2, "three":3}
print(dictionary_string_integers["one"])

1

In [ ]:
dictionary_string_integers = {"one":1, "two":2, "three":3}

print("Dictionary --> ", dictionary_string_integers)

del dictionary_string_integers["one"] # erase couple one

print("\nDizionario with elimination--> ", dictionary_string_integers)

dictionary_string_integers["uno"] = 1 # add again the old couple

print("\nDizionario with addittion--> ", dictionary_string_integers)

dictionary_string_integers["three"] = 4 # modifichiamo valore da una chiave esistente

print("\nDizionario with modification--> ", dictionary_string_integers)

Dictionary -->  {'one': 1, 'two': 2, 'three': 3}

Dizionario with elimination-->  {'two': 2, 'three': 3}

Dizionario with addittion-->  {'two': 2, 'three': 3, 'uno': 1}

Dizionario with modification-->  {'two': 2, 'three': 4, 'uno': 1}

## Set

In [ ]:
# empty_set = {} ---> NO! we creat an empty dict like this!

empty_set = set()
print(empty_set,type(empty_set))

integer_set = {1,2,3}
print(integer_set,type(integer_set))

set() <class 'set'>
{1, 2, 3} <class 'set'>

### (No) Set indexing

In [ ]:
integer_set = {1,2,3} 
print(integer_set[1]) # error

TypeError: ignored

### Sets are mutable

We can only add or remove elements but not modify them!

In [ ]:
integer_set = {1,2,3}

In [ ]:
# aggiungo elemento 4
integer_set.add(4)
print(integer_set)

{1, 2, 3, 4}

In [ ]:
# rimuovo elemento 2
integer_set.remove(2)
print(integer_set)

{1, 3, 4}

In [ ]:
print("Before update", integer_set)
integer_set.add(4)
print("After update",integer_set)

Before update {1, 3, 4}
After update {1, 3, 4}

### Classical mathematical set operations

In [ ]:
integer_set1 = {1,2,3}
integer_set2 = {2,3,4}

In [ ]:
# union
print(integer_set1.union(integer_set2))

# intersection
print(integer_set1.intersection(integer_set2))

# difference
print(integer_set1.difference(integer_set2))
print(integer_set2.difference(integer_set1))

{1, 2, 3, 4}
{2, 3}
{1}
{4}

# Control operators

## If-else control operator

We implement the famous "Discriminator" algorithm

In [ ]:
integer_number = int(input('Provide an integer: ')) 

if integer_number <= 10:
  print(integer_number, "you are discriminate!") 
else:
  print(integer_number, "you are not discriminate!")

Provide an integer: 5
5  you are discriminate!

### Check for week-day

In [ ]:
weekday = int(input('Indicate the weekday with the range (1 - 7): ')) 

if weekday == 1:
  print("Today is monday") 
elif weekday == 2:
  print("Today is tuesday") 
elif weekday == 3:
  print("Today is wednesday") 
elif weekday == 4:
  print("Today is thursday") 
elif weekday == 5:
  print("Today is friday") 
elif weekday == 6:
  print("Today is saturday") 
else:
  print("Today is sunday")

Indicate the weekday with the range 1 - 7: 5
Today is friday

### Controlliamo che una lista abbia almeno 3 elementi

In [ ]:
integer_list = [1,2,3]

In [ ]:
if len(integer_list) == 3:
  print("Test passed")
else:
  print("Test failed")

Test passed

## Loop

### While loop

In [ ]:
# Our first while loop

counter = 0

while counter < 10:
    print(counter)
    counter = counter + 1

0
1
2
3
4
5
6
7
8
9

Come creare un ciclo infinito dalla cella di codice appena vista?

In [ ]:
########## Your code starts here ##########
condition = None
########## Your code ends here ##########

counter = 0
while condition:
    print(counter)
    counter +=1

0
1
2
3
4
5
6
7
8
9

### Break an infinite while with the if statement

We want our user to enter numbers until he tells us to stop with the 'stop' command.

We don't know a priori how many numbers our user will enter, so we need a way to recognize the 'stop' command and quit the computation!

In [ ]:
# We want our user to enter numbers until he tells us to stop with the 'stop' command.

while True:
  num = input("Give me a number or 'stop' me ")
  if num == "stop":
    print("Goodbye!")
    break # exit from the while cycle!
  print("You have typed", num)

Give me a number or 'stop' me 5
You have typed 5
Give me a number or 'stop' me stop
Goodbye!

### For loop

In [ ]:
# loop over a list of integers
integer_list = [1,2,3]

for num in integer_list:
  print(num)

1
2
3

In [ ]:
# loop over a list of integers using indexes
integer_list = [1,2,3]

# Enumerate is a function that works on data structures and return couple of (index, value)

for index, num in enumerate(integer_list):
  print("Element with index %s is : %s" % (index, num))

Element with index 0 is : 1
Element with index 1 is : 2
Element with index 2 is : 3

#### For loop on dictionaries

To iterate on a dictionary you will have to adopt a policy similar to that adopted with the construct ```enumerate()```. 

In fact, if we remember correctly, a dictionary is made up of pairs `{key: value}`!

Also remember that the dictionary is not a sequence! To iterate through a dictionary we will also need to call the `items()` method, which will return all the pairs of `(key, value)` in the dictionary.

In [ ]:
dict_week_day = {0:"monday", 1:"tuesday", 2:"wednesday", 3:"thursday", 4:"friday", 5:"saturday", 6:"sunday"}

for key,value in dict_week_day.items():
  print(key,value)

0 monday
1 tuesday
2 wednesday
3 thursday
4 friday
5 saturday
6 sunday

### The range construct

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

## A world without loops

In [ ]:
# Increase counter from 0 to 10 with while loop
counter = 0
limit = 10

while counter < limit:
  counter = counter +1

print(counter)

20

In [ ]:
# Increase counter from 0 to 10 without the while loop
counter = 0

counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 
counter = counter + 1 

print(counter)

10

# Let's create an Eliza minichatBot!

In [ ]:
# Saluti
risposta_ciao = "Ciao, sono Eliza dal dipartimento di Scienze per la qualità della vita, come posso aiutarti"
saluto_finale = "Arrivederci!"

# Il dizionario è composto da coppie messaggio inviato dall'utente - risposta di Eliza!
dizionario_comandi_Eliza_saluti = {
    "ciao" : risposta_ciao,
    "arrivederci" : saluto_finale, 
}

In [ ]:
# Fase degli acquisti!
lista_di_capi_disponibili = ["maglietta", "pantalone", "canottiera", "sandali", "scarpe"]

risposta_negozio = "Posso venderti uno tra questi capi: " # concateno tutti gli elementi della lista e li metto nella stringa
risposta_compra = "Dimmi cosa vuoi comprare tra "
risposta_acquisto = "Hai acquistato %s, ti manderò la fattura! Desideri altro?" # %s è un placeholder per il nome dell'articolo!
risposta_prodotto_inesistente = "Il prodotto %s non è presente nel catalogo. Vuoi comprare altro?" # %s è un placeholder per il nome dell'articolo!

comando_acquisto = "compra"

dizionario_comandi_acquisto = {
    "negozio" : risposta_negozio,
    comando_acquisto: risposta_compra, 
    "acquisto_effettuato" : risposta_acquisto,
    "prodotto_inesistente": risposta_prodotto_inesistente
}

In [ ]:
def Eliza_chatbot(statement, livello_della_conversazione): # C'è 

  # LIVELLO 1 DI ANNIDAMENTO
  # Controllo se il comando è tra i saluti
  if statement in dizionario_comandi_Eliza_saluti.keys():
    livello_della_conversazione = 1
    return dizionario_comandi_Eliza_saluti[statement], livello_della_conversazione

  # Controllo se il comando è tra quelli per il negozio
  elif statement in dizionario_comandi_acquisto.keys():
      # LIVELLO 2 DI ANNIDAMENTO
     if statement == comando_acquisto:
       livello_della_conversazione = 2
     else: 
        livello_della_conversazione = 1
     return dizionario_comandi_acquisto[statement] + ", ".join(lista_di_capi_disponibili), livello_della_conversazione

  # COMPLETIAMO L'ACQUISTO
  elif livello_della_conversazione == 2:
      # LIVELLO 3 DI ANNIDAMENTO
      prodotto_da_comprare = statement # permette di separare il comando dall'articolo
      if prodotto_da_comprare in lista_di_capi_disponibili:
        livello_della_conversazione = 1
        # togliamo il capo tra quelli disponibili
        lista_di_capi_disponibili.remove(prodotto_da_comprare)
        return dizionario_comandi_acquisto["acquisto_effettuato"] % prodotto_da_comprare, livello_della_conversazione
      else:
        return dizionario_comandi_acquisto["prodotto_inesistente"] % prodotto_da_comprare, livello_della_conversazione
  else:
    return "Non ho capito.", livello_della_conversazione

In [ ]:
livello_della_conversazione = 1

while True:
  statement = input("")
  eliza_answer, livello_della_conversazione = Eliza_chatbot(statement, livello_della_conversazione)
  print(eliza_answer)
  if eliza_answer == saluto_finale:
    break

ciao
Ciao, sono Eliza dal dipartimento di Scienze per la qualità della vita, come posso aiutarti
negozio
Posso venderti uno tra questi capi: maglietta, pantalone, canottiera, sandali, scarpe
compra
Dimmi cosa vuoi comprare tra maglietta, pantalone, canottiera, sandali, scarpe
maglietta
Hai acquistato maglietta, ti manderò la fattura! Desideri altro?
negozio
Posso venderti uno tra questi capi: pantalone, canottiera, sandali, scarpe
arrivederci
Arrivederci!

# Custom your Eliza ChatBot!

In [ ]:
risposta_ciao = "Ciao, sono Eliza dal dipartimento di Scienze per la qualità della vita, come posso aiutarti"
saluto_finale = "Arrivederci!"

dizionario_comandi = {
    "ciao" : risposta_ciao,
    "arrivederci" : saluto_finale, 
    # TODO: create i vostri comandi personalizzati
}

In [ ]:
def Eliza_chatbot_minified(statement): # C'è 
  # Controllo se il comando è tra i saluti
  if statement in dizionario_comandi.keys():
    return dizionario_comandi_Eliza_saluti[statement]
  else:
    return "Non ho capito."

In [ ]:
while True:
  statement = input("")
  eliza_answer = Eliza_chatbot_minified(statement)
  print(eliza_answer)
  if eliza_answer == saluto_finale:
    break

alda
Non ho capito.
ciao
Ciao, sono Eliza dal dipartimento di Scienze per la qualità della vita, come posso aiutarti
arrivederci
Arrivederci!